{% extends "::base.html.twig" %}

{% block title %}AcmeDemoBundle:Anntest:addwork{% endblock %}

{% block body %}
<h1>Complimenti sei arrivato sulla Anntest:ola page</h1>
    <h3>Messaggio: {{ res }}</h3>
{% endblock %}
